<h1 class="text-center ">Créer un questionnaire</h1> <br>

<form (ngSubmit)="onSubmit()">  
<mat-card class="fo">
  
<mat-form-field class="title_input" appearance="fill">
<mat-label>Nom de l'analyse</mat-label>
    <input matInput  >
</mat-form-field>

<mat-form-field appearance="fill">
<mat-label>Valide le</mat-label>
<input matInput [matDatepicker]="on">
<mat-hint>JJ/MM/AAAA</mat-hint>
<mat-datepicker-toggle matSuffix [for]="on"></mat-datepicker-toggle>
<mat-datepicker #on></mat-datepicker>
</mat-form-field>


<mat-form-field appearance="fill">
<mat-label>Type d'analyse</mat-label>
<mat-select [(value)]="Selected">
<mat-option *ngFor="let model of models" value="option" >
  {{model.name}}
</mat-option>
</mat-select>
</mat-form-field>
{{Selected}}

<div *ngIf="0" class="container">  
   
  


  
  <table class="" formArrayName="quantities">  
    <tr>  
      <th colspan="2">Champs du formulaire :</th>  
      <th><button mat-button mat-mini-fab color="primary" type="button" (click)="addQuantity()"><mat-icon >add
    </mat-icon></button></th>  
    </tr>  
    <tr *ngFor="let quantity of quantities().controls; let i=index" >  
      <mat-card>
        <tr> Nom du champ :
        <input mat-input type="text" formControlName="qty" class="form-control w-100"> </tr>
        <td>  
          Type :  
          <input mat-input type="text" formControlName="qty" class="form-control">  
      </td>  
      <td>  
          Price:  
          <input mat-input type="text" formControlName="price" class="form-control">  
      </td>  
      <td>  
      Price:  
      <input mat-input type="text" formControlName="price" class="form-control">  
  </td> 
      <td>  
          <button mat-button mat-mini-fab color="warn" type="button" (click)="removeQuantity(i)" class=" btn-danger"><mat-icon >delete
        </mat-icon></button>  
      </td> 
    </mat-card>
    <br> 
    </tr>  
  </table>  
   
    
 
    
<br/>  


 <!-- {{this.productForm.value | json}} -->
</div>


<input
          type="button"
          mat-input
          value="Créer"
          
        />

</mat-card>

</form>